.header{
	min-height: 100px;
	background-color: gray;}
.banner{
	min-height: 100px;
	background-color: red;}
.introduction{
	min-height: 100px;
	background-color: green;}
.wrapper{
	overflow: hidden;
}	
.box1{
    min-height: 400px;
    background-color:yellow;
    width: 33%;  
    float: left;  
	}
.box2{
	 min-height: 400px;
    background-color:red;
    width: 33%;
    float: left;
}	
.box3{
	 min-height: 400px;
    background-color:yellow;
    width: 34%;
    float: left; 
}
.footer{
	min-height: 100px;
	background-color: gray;}

